<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="form">
  <ion-card>
    <ion-card-content>
      <div>

        <ion-item>
          <ion-label position="stacked">Titúlo do livro:</ion-label>
          <ion-input type="text" formControlName="titulo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">SubTítulo do livro:</ion-label>
          <ion-input type="text" formControlName="stitulo"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Editora:</ion-label>
          <ion-input type="text" formControlName="editora"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Lançamento: </ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            cancelText="Cancelar"
            doneText="Selecionar"
            formControlName="lancamento"
          ></ion-datetime>
        </ion-item>

      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="salvar()" [disabled]="!form.valid" color="tertiary">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
